body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Optima, sans-serif;
    color: white;
}

h6 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}

.color-black {
  color: black;
} 

/*

======

Navbar

======

*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-left {
    margin-right: 5rem;
}

.icon {
    color: white;
    font-size: 30px;
    display: inline;
    
}

.login {
    padding-left: 10px;
    display: flex;
    display: inline;

}

.navbar-middle {
    margin-right: 40%;
    margin-top: 1rem;
}

.navbar-right {
    display: block;

}

.icons {
    color: white;
    display: flex;
    display: inline-block;
    font-size: 20px;
    
}

ul {
    list-style-type: none;
  }

li {
    display: inline-block;
    padding: 5px;
}

/*

======

Header

======

*/

.logo {
  height: 5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-left: 5%;

}

.search {
  display: flex;
  display: inline-block;
  margin-left: 20rem;
}

.rowC{
    display: block;
}

input {
    width: 20rem;
    height: 30px;
}

.icon-search {
  color: white;
  font-size: 20px;
  display: inline;
  margin-right: 0.5rem;
}



.navbar-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2rem;
}



.underline:hover {
  text-decoration: underline;
  color: yellow;
}

.nav-toggle {
  display: inline;
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-left: 10px;
}

.nav-toggle:hover {
  color: yellow;
  transform: rotate(90deg);
}

/*

======

VideoHeader

======

*/

.video-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

}

.pageNumbers {
    color: black;
    display: inline;
    font-size: 20px;
    
}

.pageNumber:hover {
  background-color: green;
  color: white;
}

.videoHeader {
    display: block;
}

.word {
    margin-right: 70%;
}

.numbers {
    color: black;
    display: block;
}

/*

======

EpisodeList

======

*/

.section {
    padding: 5rem 0;
    padding: 5rem;
    border: 1.5px solid white;
    border-radius: 10px;
    margin: 2.5rem;
  }

  .episodeList-center {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: auto auto auto;

  }

  /*

======

Episode

======

*/

.episode {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

  }
  
  .episode img {
    height: 20rem;
    object-fit: cover;
  }
  
  .episode-footer {
    padding: 1.5rem;
  }
  .episode-footer h3,
  .episode-footer h4 {
    margin-bottom: 0.3rem; 
    display: flex;
    justify-content: center; 
  }
  .episode-footer h3 {
    font-size: 2rem;
  }

  .img-container img {
    float: left;
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.title {
  color: yellowgreen;
}

  /*

======

Login and Sign Up

======

*/

.auth-form-container, .login-form, .signUp-form {
    display: flex;
    flex-direction: column;
    
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 2.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    color: yellow;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    margin-top: 2rem;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }
